doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/global.css')
    link(rel='stylesheet', media="(max-width: 768px)", href='/stylesheets/tablet.css')
    link(rel='stylesheet', media="(max-width: 500px)", href='/stylesheets/mobile.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
  